@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using GadgetsOnlineWebForms.Components.Views.Store

<div id="header" style="margin-top:10px">
    <h1 class="font-italic">
        <NavLink href="/">
            Welcome to Gadgets Online!
        </NavLink>
    </h1>

    <ul id="navlist">
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/Views/ShoppingCart/ViewCart">ShoppingCart</NavLink></li>
    </ul>
</div>

<CategoryMenu />

<div id="main">
    @Body
</div>

<div id="footer">
    <a href="https://aws.amazon.com/developer/language/net/" target="_blank"> AWS &#10084;&#65039; ASP.NET </a>
</div>

@code {
    protected override void OnInitialized()
    {
        // Page_Load logic from Site.Master.cs would go here
        // Currently empty as the original Page_Load had no implementation
    }
}